body {
  margin: 0px;
  font-family: 'Roboto', sans-serif; }

.prodCont {
  margin: 25px auto;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .prodCont .singleCont {
    margin: 10px auto;
    height: 200px;
    width: 300px;
    background: crimson;
    border-radius: 10px; }
    .prodCont .singleCont .singleTop {
      height: 60%;
      background-color: #c31c3d;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom: 1px solid #ff0000;
      background-repeat: no-repeat;
      background-position: center; }
    .prodCont .singleCont .singleBot {
      position: relative; }
      .prodCont .singleCont .singleBot .singleBotName {
        margin: 0px;
        margin-top: 2px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        font-size: 20px; }
      .prodCont .singleCont .singleBot .singleBotDesc {
        color: white;
        margin: 0px auto;
        padding-bottom: 3px;
        font-size: 13px;
        text-align: center;
        width: 90%;
        border-bottom: 1px solid red; }
      .prodCont .singleCont .singleBot .singleBotCost {
        text-align: right;
        margin: 10px 10px 0px 0px;
        color: white;
        font-weight: 700; }
      .prodCont .singleCont .singleBot .singleBotBtn {
        position: absolute;
        bottom: 0px;
        left: 5px;
        outline: none;
        border: 0px solid red;
        background-color: #e64f6d;
        height: 25px;
        width: 100px;
        color: white;
        font-weight: 700;
        border-radius: 5px; }
        .prodCont .singleCont .singleBot .singleBotBtn:hover {
          background-color: #ff6583;
          cursor: pointer; }

.addProdCont {
  height: 310px;
  width: 280px;
  background-color: crimson;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px; }
  .addProdCont input {
    outline: none;
    border: 0px solid red;
    background-color: #a71834;
    height: 20px;
    width: 250px;
    padding: 5px;
    color: white;
    display: block;
    font-size: 15px;
    border-radius: 5px;
    margin: 5px auto; }
    .addProdCont input:hover {
      background-color: #c71538; }
    .addProdCont input:focus {
      -webkit-box-shadow: 0px 0px 3px #ffcfd9;
              box-shadow: 0px 0px 3px #ffcfd9; }
    .addProdCont input::-webkit-input-placeholder {
      color: #671525; }
    .addProdCont input:-ms-input-placeholder {
      color: #671525; }
    .addProdCont input::-ms-input-placeholder {
      color: #671525; }
    .addProdCont input::placeholder {
      color: #671525; }
  .addProdCont input[type=number] {
    width: 50px;
    margin: 5px 0px 5px 10px; }
  .addProdCont span {
    width: 200px;
    margin-left: 10px;
    color: white;
    font-weight: 700; }
  .addProdCont .addProdBtn {
    margin: auto;
    border: 0px solid red;
    width: 260px;
    height: 40px;
    display: block;
    margin-top: 5px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    background-color: #e64f6d;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 2px white;
            box-shadow: 0px 0px 2px white; }
    .addProdCont .addProdBtn:hover {
      -webkit-box-shadow: 0px 0px 5px white;
              box-shadow: 0px 0px 5px white;
      cursor: pointer;
      background-color: #ff6583; }
  .addProdCont .errOut {
    height: 20px;
    width: 99%;
    text-align: center;
    margin: auto;
    font-size: 11px;
    color: black; }

.tip {
  font-size: 11px;
  font-weight: 400 !important;
  color: #edacac !important; }

.appOpt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.plusAniCont {
  width: 40px;
  height: 70px;
  margin: 20px 10px 10px 10px;
  position: relative; }
  .plusAniCont span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: crimson;
    font-weight: 700;
    font-size: 20px;
    opacity: 0; }

.plusOne {
  -webkit-animation: plusOne 1s;
          animation: plusOne 1s; }

@-webkit-keyframes plusOne {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px); } }

@keyframes plusOne {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px); } }

.fas {
  font-size: 70px;
  color: crimson;
  width: 70px;
  height: 70px;
  margin: 20px 10px 10px 10px; }
  .fas:hover {
    cursor: pointer;
    color: #dd5470; }

.lineBorder {
  width: 100%;
  height: 0px;
  border-bottom: 3px solid crimson;
  -webkit-box-shadow: 0px 2px 3px #a04859;
          box-shadow: 0px 2px 3px #a04859; }

.cartCont {
  width: 600px;
  min-height: 100px;
  background-color: crimson;
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.singlePrice {
  color: white;
  width: 90%;
  border-bottom: 1px solid #7e0000;
  height: 30px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .singlePrice .singlePriceNo {
    font-size: 25px;
    padding: 0px;
    width: 130px; }
  .singlePrice .singlePriceName {
    font-size: 20px;
    padding-left: 20px;
    width: 150px;
    padding: 4px 0px 0px 0px; }
  .singlePrice .singlePriceSpace {
    width: 30%; }
  .singlePrice .deleteBtn button {
    outline: none;
    border: 0px solid red;
    background-color: #e64f6d;
    height: 25px;
    width: 120px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    font-size: 13px;
    margin-top: 2px; }
    .singlePrice .deleteBtn button:hover {
      background-color: #ff6583;
      cursor: pointer; }

.fullCost {
  width: 300px;
  border-top: 1px solid #9f0000;
  margin: 40px 0px 0px 0px;
  padding: 0px 0px 5px 20px; }
  .fullCost span {
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding-left: 10px; }

.emptyText {
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px; }

@media screen and (max-width: 1100px) {
  .prodCont {
    width: 800px; } }

@media screen and (max-width: 900px) {
  .prodCont {
    width: 320px; } }

@media screen and (max-width: 700px) {
  .cartCont {
    width: 320px; }
  .singlePrice {
    width: 100%; }
  .singlePrice .singlePriceNo {
    font-size: 14px;
    line-height: 30px; }
  .singlePrice .singlePriceSpace {
    width: 0%; }
  .singlePrice .deleteBtn button {
    width: 97px;
    font-size: 12px; }
  .singlePrice .singlePriceName {
    font-size: 12px;
    line-height: 12px; }
  .fullCost {
    border-top: none; } }

.switch {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom-right-radius: 5px;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  list-style-type: none;
  margin: 0;
  font-size: 12px; }
  .switch__item {
    padding: 0 10px; }
    .switch__item:first-child {
      border-right: 1px solid #007bff; }
  .switch__link {
    color: #007bff;
    text-decoration: none; }
