<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS SHOP</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
    <!-- navigation added for testing purposes -->
    <ul class="switch">
        <li class="switch__item">
            <a href="./index.html" class="switch__link">Original</a>
        </li>
        <li class="switch__item">
            <a href="./index-refactor.html" class="switch__link">Refactored</a>
        </li>
    </ul><!-- navigation added for testing purposes -->


    <div id="vue-app">
        <div class="appOpt">
            <div class="plusAniCont">
                <span id="oneUp">+1</span>
                <span id="twoUp">+1</span>
            </div>   
            <i v-on:click="buy = !buy" class="fas fa-cart-arrow-down"></i>
        </div>
        <div class="lineBorder"></div>
        
        <!-- card -->
        <div v-show="!buy">
            <div class="cartCont">
                <p class="emptyText" v-show="empty">First You need to add some products</p>
                <div v-for="(single, index) in card">
                    <div class="singlePrice">
                        <div class="singlePriceNo">
                            <span>{{ single.price }} PLN</span>
                        </div>
                        <div class="singlePriceName">
                            <span>{{ single.name }}</span>
                        </div>
                        <div class="singlePriceSpace"></div>
                        <div class="deleteBtn"><button v-on:click="deleteProduct(index)">Delete product</button></div>
                    </div>
                </div>
                <div v-show="!empty" class="fullCost"><span>{{ fullCost }} PLN | Full Cost</span></div>
            </div>
        </div>
        
        <!-- shop -->
        <div v-show="buy" class="prodCont">
            <div class="singleCont" v-for="(product, index) in products">
                <div class="singleTop" v-bind:style="{ 'background-image': 'url(' + product.img + ')' }"></div>
                <div class="singleBot">
                    <p class="singleBotName">{{ product.name }}</p>
                    <p class="singleBotDesc">{{ product.desc }}</p>
                    <p class="singleBotCost">{{ product.cost }} PLN</p>
                    <button class="singleBotBtn" v-on:click="checkPrice(index)">Add to Cart</button>
                </div>
            </div>   
        </div> 
        <div v-show="buy" class="addProdCont">
            <span>Name of product</span>   
            <input ref="npInput" placeholder="Name..." type="text">
            <span>Description of product</span> 
            <input ref="dpInput" placeholder="Description..." type="text"> 
            <span>Price</span> 
            <input ref="aInput" placeholder="PLN" type="number">
            <span>Image url <span class="tip">(leave empty for default image)</span></span> 
            <input ref="imgInput" type="text" placeholder="Link...">
            <div class="errOut" id="errOut"></div>
            <button v-on:click="readRefs" class="addProdBtn">Add to Product list</button>
        </div>   
    </div>
    <script src="js/products.js"></script>
    <script src="js/app.js"></script>
</body>
</html>