<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS SHOP - after refactoring</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<!-- navigation added for testing purposes -->
<ul class="switch">
    <li class="switch__item">
        <a href="./index.html" class="switch__link">Original</a>
    </li>
    <li class="switch__item">
        <a href="./index-refactor.html" class="switch__link">Refactored</a>
    </li>
</ul><!-- navigation added for testing purposes -->


<div id="vue-app-refactor">
        <div class="appOpt">
            <div class="plusAniCont">
                <span v-for="plusOne in itemMoveToBasketAnimation" class="plusOne">{{ plusOne }}</span>
            </div>
            <i @click="showBasket = !showBasket" class="fas fa-cart-arrow-down"></i>
        </div>
        <div class="lineBorder"></div>
        
        <!-- basket -->
        <div v-show="showBasket">
            <div class="cartCont">
                <p class="emptyText" v-show="basket.length === 0">First You need to add some products</p>

                <div v-show="basket.length > 0">
                    <div v-for="(product, index) in basket">
                        <div class="singlePrice">
                            <div class="singlePriceNo">
                                <span>{{ product.price }} PLN</span>
                            </div>
                            <div class="singlePriceName">
                                <span>{{ product.name }}</span>
                            </div>
                            <div class="singlePriceSpace"></div>
                            <div class="deleteBtn"><button @click="removeFromBasket(index)">Delete product</button></div>
                        </div>
                    </div>
                    <div class="fullCost"><span>{{ totalPrice }} PLN | Full Cost</span></div>
                </div>
            </div>
        </div>
        
        <!-- products list -->
        <div v-show="!showBasket" class="prodCont">
            <div class="singleCont" v-for="product in products">
                <div class="singleTop" :style="{'background-image': 'url('+ product.img +')'}"></div>
                <div class="singleBot">
                    <p class="singleBotName">{{ product.name }}</p>
                    <p class="singleBotDesc">{{ product.desc }}</p>
                    <p class="singleBotCost">{{ product.price }} PLN</p>
                    <button class="singleBotBtn" @click="addToBasket(product)">Add to Cart</button>
                </div>
            </div>
        </div>

        <!-- Add new product form -->
        <div v-show="!showBasket" class="addProdCont">
            <span>Name of product</span>
            <input placeholder="Name..." type="text" v-model="newProduct.name">
            <span>Description of product</span>
            <input placeholder="Description..." type="text" v-model="newProduct.desc">
            <span>Price</span>
            <input placeholder="PLN" type="number" v-model="newProduct.price">
            <span>Image url <span class="tip">(leave empty for default image)</span></span>
            <input type="text" placeholder="Link..."  v-model="newProduct.img">
            <div class="errOut" id="errOut">{{ errorMsg }}</div>
            <button @click="createNewProduct" class="addProdBtn">Add to Product list</button>
        </div>
    </div>
    <script src="js/products.js"></script>
    <script src="js/app-refactor.js"></script>
</body>
</html>