body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.prodCont {
    margin: 25px auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .singleCont {
        margin: 10px auto;
        height: 200px;
        width: 300px;
        background: crimson;
        border-radius: 10px;

        .singleTop {
            height: 60%;
            background-color: #c31c3d;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom: 1px solid #ff0000;
            background-repeat: no-repeat;
            background-position: center;
        }
        .singleBot {
            position: relative;

            .singleBotName {
                margin: 0px;
                margin-top: 2px;
                text-transform: uppercase;
                text-align: center;
                color: white;
                font-size: 20px;
            }
            .singleBotDesc {
                color: white;
                margin: 0px auto;
                padding-bottom: 3px;
                font-size: 13px;
                text-align: center;
                width: 90%;
                border-bottom: 1px solid red;
            }
            .singleBotCost {
                text-align: right;
                margin: 10px 10px 0px 0px;
                color: white;
                font-weight: 700;
            }
            .singleBotBtn {
                position: absolute;
                bottom: 0px;
                left: 5px;
                outline: none;
                border: 0px solid red;
                background-color: #e64f6d;
                height: 25px;
                width: 100px;
                color: white;
                font-weight: 700;
                border-radius: 5px;
                &:hover {
                    background-color: #ff6583;
                    cursor: pointer;
                }
            }
        }
    }
}

.addProdCont {
    height: 310px;
    width: 280px;
    background-color: crimson;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;

    input {
        outline: none;
        border: 0px solid red;
        background-color: #a71834;
        height: 20px;
        width: 250px;
        padding: 5px;
        color: white;
        display: block;
        font-size: 15px;
        border-radius: 5px;
        margin: 5px auto;

        &:hover {
            background-color: #c71538;
        }
        &:focus {
            box-shadow: 0px 0px 3px #ffcfd9;
        }
        &::placeholder {
            color: #671525;
        }
    }
    input[type=number] {
        width: 50px;
        margin: 5px 0px 5px 10px;
    }
    span {
        width: 200px;
        margin-left: 10px;
        color: white;
        font-weight: 700;
    }
    .addProdBtn {
        margin: auto;
        border: 0px solid red;
        width: 260px;
        height: 40px;
        display: block;
        margin-top: 5px;
        color: white;
        font-weight: 700;
        border-radius: 5px;
        background-color: #e64f6d;
        font-size: 20px;
        box-shadow: 0px 0px 2px white;
        &:hover {
            box-shadow: 0px 0px 5px white;
            cursor: pointer;
            background-color: #ff6583;
        }

    }
    .errOut {
        height: 20px;
        width: 99%;
        text-align: center;
        margin: auto;
        font-size: 11px;
        color: black;
    }
}

.tip {
    font-size: 11px;
    font-weight: 400 !important;
    color: #edacac !important;
}

.appOpt {
    display: flex;
    flex-direction: row-reverse
}

.plusAniCont {
    width: 40px;
    height: 70px;
    margin: 20px 10px 10px 10px;
    position: relative;
    span {
        position: absolute;
        bottom: 0px;
        left: 0px;
        color: crimson;
        font-weight: 700;
        font-size: 20px;
        opacity: 0;
    }
}
.plusOne{
    animation: plusOne 1s;
}

@keyframes plusOne {
    0%{ 
        opacity: 0;
        transform: translateY(0);
    }
    40%{ 
        opacity: 1;
        transform: translateY(-20px);
    }
    100%{
        opacity: 0;
        transform: translateY(-40px);
    }
}

.fas {
    font-size: 70px;
    color: crimson;
    width: 70px;
    height: 70px;
    margin: 20px 10px 10px 10px;
    &:hover {
        cursor: pointer;
        color: #dd5470;
    }
}

.lineBorder {
    width: 100%;
    height: 0px;
    border-bottom: 3px solid crimson;
    box-shadow: 0px 2px 3px #a04859;
}

.cartCont {
    width: 600px;
    min-height: 100px;
    background-color: crimson;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.singlePrice {
    color: white;
    width: 90%;
    border-bottom: 1px solid #7e0000;
    height: 30px;
    margin: auto;
    display: flex;

    .singlePriceNo {
        font-size: 25px;
        padding: 0px;
        width: 130px;

    }
    .singlePriceName {
        font-size: 20px;
        padding-left: 20px;
        width: 150px;
        padding: 4px 0px 0px 0px;
    }
    .singlePriceSpace {
        width: 30%;
    }
    .deleteBtn {
        button {
            outline: none;
            border: 0px solid red;
            background-color: #e64f6d;
            height: 25px;
            width: 120px;
            color: white;
            font-weight: 700;
            border-radius: 5px;
            font-size: 13px;
            margin-top: 2px;

            &:hover {
                background-color: #ff6583;
                cursor: pointer;
            }
        }
    }
}

.fullCost {
    width: 300px;
    border-top: 1px solid #9f0000;
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 5px 20px;

    span {
        color: white;
        font-weight: 700;
        font-size: 20px;
        padding-left: 10px;
    }
}

.emptyText {
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}
@media screen and(max-width: 1100px){
    .prodCont{
        width: 800px;
    }
}
@media screen and(max-width: 900px){
    .prodCont{
        width: 320px;
    }
}
@media screen and(max-width: 700px){
    .cartCont{
        width: 320px;
    }
    .singlePrice{
        width: 100%;
    }
    .singlePrice .singlePriceNo{
        font-size: 14px;
        line-height: 30px;
    }
    .singlePrice .singlePriceSpace{
        width: 0%;
    }
    .singlePrice .deleteBtn button{
        width: 97px;
        font-size: 12px;
    }
    .singlePrice .singlePriceName{
        font-size: 12px;
        line-height: 12px;
    }
    .fullCost{
        border-top: none;
    }
}

.switch {
    $border: #ddd;
    $color: #007bff;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid $border;
    border-right: 1px solid $border;
    border-bottom-right-radius: 5px;
    padding: 5px 0;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    margin: 0;
    font-size: 12px;

    &__item {
        padding: 0 10px;

        &:first-child {
            border-right: 1px solid $color;
        }
    }

    &__link {
        color: $color;
        text-decoration: none;
    }
}